@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
  background:#375B62  ;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #171D23;
  margin: 00;

}

.container_sb {  
  width: 300px;
  height: 120px;
  margin: auto;
}

.login_bar_sb {
  width: 300px;
  height: 50px;
  background: white;
  border-radius: 10px;
  top: 25%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.login_sb {
  background: transparent;
  position: absolute;
  height: 100%;
  width: 66.66%;
  font-size: 22px;
  padding-left: 20px;
  text-align: left;
  line-height: 90%;
  vertical-align: middle;
  z-index: 10;
  -webkit-transition: transform 0.2s ease-in-out 0s;
     -moz-transition: transform 0.2s ease-in-out 0s;
       -o-transition: transform 0.2s ease-in-out 0s;
          transition: transform 0.2s ease-in-out 0s;
}



.login_active_sb {
  -webkit-transform: translateX(300px);
     -moz-transform: translateX(300px);
      -ms-transform: translateX(300px);
       -o-transform: translateX(300px);
          transform: translateX(300px);
}

.subscribe_button_sb:hover{
  background-color: #222A33;
  cursor:pointer;
}

.subscribe_button_sb {
  background: #171D23;
  position: absolute;
  top: -50px;
  left: 200px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 150px;
  width: 33.33%;
  text-align: center;
  line-height: 150px;
  vertical-align: middle; 
  color: white;
  -webkit-transition: transform 0.5s ease 0s;
     -moz-transition: transform 0.5s ease 0s;
       -o-transition: transform 0.5s ease 0s;
          transition: transform 0.5s ease 0s;
}

.subscribe_button_active_sb{
  -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
       -o-transform: translateY(50px);
          transform: translateY(50px);
}

.subscribing_sb{
  background: #CDD4DC;
  height: 100%;
  width: 300px;
  z-index: 5;
  position: absolute;
  left:-300px;
  display: inline-block;
  -webkit-transition: transform 1s ease 0s ;
     -moz-transition: transform 1s ease 0s ;
       -o-transition: transform 1s ease 0s ;
          transition: transform 1s ease 0s ;
}

.subscribing_active_sb {
  -webkit-transform: translateX(300px);
     -moz-transform: translateX(300px);
      -ms-transform: translateX(300px);
       -o-transform: translateX(300px);
          transform: translateX(300px);
}

.thanks_sb{
  background: transparent;
  height: 100%;
  width: 300px;
  z-index: 5;
  text-align: left;
  line-height: 50px;
  vertical-align: middle;
  padding-left: 10px;
  position: absolute;
  top:50px;
  display: inline-block;
  -webkit-transition: transform 0.5s ease 0s ;
     -moz-transition: transform 0.5s ease 0s ;
       -o-transition: transform 0.5s ease 0s ;
          transition: transform 0.5s ease 0s ;
}

.thanks_active_sb {
  -webkit-transform: translateY(-50px);
     -moz-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
       -o-transform: translateY(-50px);
          transform: translateY(-50px);
}
